

#main-container{
    overflow: hidden;
}

#tab-container{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: stretch; */
    width: calc(100%);
    height: calc(100%);
    padding: 2em min(5vw, 3em);
    overflow: auto;
}

#tab-button-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.tab-button{
    background-image: linear-gradient(to bottom right, #3f3f3f, #323232);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    height: auto;
    padding: 8px 50px;
    text-align: center;
    text-decoration: none;

    transition: background-image 0.5s ease, transform 0.2s;
}

.tab-button:hover,
.tab-button.active{
    background-image: linear-gradient(to bottom right, #2998e6, #743ad5);
}

.tab-button:hover{
    transform: scale(1.05);
}

.active-tab-container{
    flex-grow: 1;
    box-sizing: border-box;
    padding: 0px min(2vw, 50px);
    align-items: stretch;
    width: 100%;
    overflow: hidden;
}

.tab-panel{
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* border: 1px rgba(135, 134, 134, 0.375);
    border-top-style: solid;
    border-style: solid;
    border-bottom-style: solid; */
    opacity: 0;
    transform: translate(0, -100px);
    transition: opacity 1s ease, transform 1s ease;
}

.tab-panel.active{
    display: flex;
    opacity: 1;
    transform: none;
}

.form{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login-form{
    margin-top: 3vh;
}

#login-form input[type=submit]{
    margin-top: 15px;
}

#register-form{
    flex-direction: row;
    flex-wrap: wrap;
    /* column-gap: 10px; */
}

.inputgroup{
    width: 50%;
    padding: 0 5px;
    flex-shrink: 0;
    flex-grow: 0;
}

@media only screen and (max-width: 600px) {
    .inputgroup{
        width: 100%;
        padding: 0;
    }
}

.inputgroup.fullwidth{
    width: 100%;
}

input[type=submit]{
    flex-grow: 0;
    flex-basis: 1;
}


